.yiiTab{
	margin-top: 3px;
	clear: both;
}
.yiiTab ul.tabs
{
    padding: 5px 0;
    margin-left: 1px;
	font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
	font-size: 13px;
	margin-bottom: 15px;
}

.yiiTab ul.tabs li
{
    list-style: none;
    margin: -1px;
    display: inline;
}

.yiiTab ul.tabs a
{
	padding: 5px 15px 5px 15px;
	margin: 0px;
	text-decoration: none;
	background: #F0F0F0;
}

.yiiTab ul.tabs a:link
{
	color: #4D678F;
}

.yiiTab ul.tabs a:visited
{
	color: #6F89B1;
}

.yiiTab ul.tabs a:hover
{
    color: white;
    background: #9a5799;
}

.yiiTab ul.tabs a.active
{
    background: #9a5799;
	color: white;
}

.yiiTab div.view
{
  /*  border-left: 1px solid #a6cbf6;
    border-right: 1px solid #a6cbf6;
    border-bottom: 1px solid #a6cbf6;*/
    padding-top: 8px;
    margin: 0;
}