@charset "UTF-8";
@import url('http://fonts.googleapis.com/css?family=Dosis:400&subset=latin,latin-ext');

*{margin: 0; padding: 0;}
img { border: 0; }
a { text-decoration: none; color: #ff7200; }
a:hover{ color: #0DF240; }
html, body { height: 100%; background-color: #ffffff; }
p { margin-bottom: 15px; }
.text li { margin-left: 20px; }
.text ul { margin-bottom: 10px; }
h3{
  font-family: 'Dosis', sans-serif;
  color: #333333;
  font-size: 16px;
  margin-bottom: 30px;
}
.kontener{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
#top{
  height: 165px;
  width: 100%;
  background-image: url(../img/bg_top.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #FFF;
  background-size: cover;
  float: left;
}
.top_logo{
  position: absolute;
  top: 20px;
  left: 125px;
}
.user_panel{
  width: 440px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 5;
  font-family: 'Dosis', sans-serif;
  color: #721472;
  font-size: 14px;
}
.user_panel .header{
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #721472;
  font-size: 15px;
  float: left;
  padding-top: 12px;
  margin-right: 10px;
}
.logged_info{
   padding-top: 12px;
   margin-right: 20px;
   text-align: right;
}
.logged_info a{
  color: #333333;
  font-weight: 600;
  line-height: 25px;
  padding-left: 10px;
}
.logged_info a:hover{
   color: #0DF240;
}
#logowanie{
  float: left;
}
#logowanie input[type=text], #logowanie input[type=password]{
  background: #FFF;
  border: 1px solid #b8b8b8;
  color: #847e7e;
  width: 130px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  padding: 8px 10px 8px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 7px;
}
#logowanie .login_button{
  width: 28px;
  height: 28px;
  background-image: url(../img/login_button.png);
  background-position: top;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 9px;
  border: 0px;
}
#logowanie .login_button:hover{
  background-position: bottom !important;
  cursor: pointer;
}
.lost_pass a{
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #3792d1;
  padding-left: 90px;
  padding-top: 5px;
  float: left;
}
.lost_pass a:hover{ text-decoration: underline }
.circle_top{
  position: absolute;
  right: -20px;
  top: 70px;
  z-index: 1;
}
#menu{
  height: 123px;
  width: 100%;
  background-image: url(../img/bg_menu.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF;
  float: left;
}
.nav_ul{ list-style: none; float: left}
.nav_sub_ul{
  position: absolute;
  top: 95px;
  margin: 0px;
  padding: 2px 12px 2px 12px;
  left: 25px;
  list-style: none;
  display: none;
  background-color: #4b074b;
  min-width: 75px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 5;
}
.nav_li:hover .nav_sub_ul {display:block}
.nav_li{ float:left; width: 67px; height: 67px; background-position: top; background-repeat: no-repeat; position: relative;}
.nav_sub_li{ border-bottom: 1px solid #652b65; }
.nav_sub_li:last-child{border-bottom: none}
.nav_sub_li a{
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
}
.nav_li li a{ padding: 6px 3px 6px 3px; text-align: left; }

.nav_li a{
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  line-height: 14px;
  padding-top: 70px;
  padding-bottom: 10px;
  text-align: center;
  color: #FFF;
  display: block;
}
.nav_li a:hover, .nav_li .active{color: #0df240;}
.nav_li:hover{background-position: bottom;}
.link142{background-image: url(../img/menu/onas.png);}
.link149{background-image: url(../img/menu/oferta.png); margin-top: 3px;}
.link153{background-image: url(../img/menu/cennik.png); margin-top: 6px;}
.link124{background-image: url(../img/menu/galeria.png); margin-top: 9px;}
.link150{background-image: url(../img/menu/faq.png); margin-top: 12px;}
.link151{background-image: url(../img/menu/umowy.png); margin-top: 15px;}
.link148{background-image: url(../img/menu/kontakt.png); margin-top: 18px;}
.link152{background-image: url(../img/menu/blog.png); margin-top: 21px;}
.link220{background-image: url(../img/menu/opc.png); margin-top: 24px;}

#content{
  width: 100%;
  background-color: #731472;
  float: left;
  padding-bottom: 25px;
}
.full{
  float: left;
  padding-right: 15px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  color: #e6eef3;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
}
.left{
  width: 575px;
  float: left;
  padding-right: 15px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  background: url(../img/line.png);
  background-position: right;
  background-repeat: repeat-y;
  color: #e6eef3;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
}
.button_more{
  height: 30px;
  width: 112px;
  background: url(../img/button_more.png);
  background-position: top;
  background-repeat: no-repeat;
  float: right;
  padding-top: 8px;
  text-align: center;
  color: #1c963b;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  margin-top: 30px;
}
.button_more_label{
  height: 38px;
  width: 112px;
  background: url(../img/button_more.png);
  background-position: top;
  background-repeat: no-repeat;
  float: right;
  text-align: center;
  color: #1c963b;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  border: 0;
  margin-right: 10px;
}
.button_send_label{
  height: 38px;
  width: 112px;
  background: url(../img/button_more.png);
  background-position: top;
  background-repeat: no-repeat;
  float: right;
  text-align: center;
  color: #1c963b;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  border: 0;
}
.button_more:hover, .button_more_label:hover, .button_send_label:hover{ background-position: bottom; color: #00781b; cursor: pointer }
.text{ margin-top: 15px }
.left_sub{
  width: 220px;
  margin-bottom: 20px;
  float: left;
  margin-top: 5px;
  padding-right: 25px;
  padding-bottom: 100px;
  background: url(../img/line.png);
  background-position: right;
  background-repeat: repeat-y;
  color: #e6eef3;
  font-size: 12px;
  line-height: 21px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
}
.nav_subpage_ul{ list-style: none; float: left;}
.nav_subpage_li a{color: #FFF}
.nav_subpage_li a:hover, .nav_subpage_li a.active {color: #23ce4a}
.nav_subpage_li{ background: url(../img/nav_subpage.png); background-repeat: no-repeat; padding-left: 25px; padding-bottom: 3px; border-bottom: 1px dotted green; margin-bottom: 3px; text-align: left; margin-left: 0 !important; }
.right{
  width: 400px;
  float: left;
  margin-left: 10px;
}
.right_sub{

  float: left;
  padding-left: 20px;
  color: #e6eef3;
  font-size: 12px;
  line-height: 21px;
  text-align: left;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  position: relative;
}
.right_sub .left{background: none !important; }
#content .header{
  height: 35px;
  width: 100%;
  font-size: 23px;
  padding-top: 20px;
  font-family: 'Dosis', sans-serif;
  color: #FFF;
  text-transform: uppercase;
}
#content .header a{color: #FFF}
#content .header a:hover{color: #23CE4A}
.slider{
  width: 389px;
  height: 233px;
  background: url(../img/bg_slider.png);
  background-repeat: no-repeat;
  position: relative;
  padding-top: 15px;
  padding-left: 15px;
}
.okno_slider{
  overflow: hidden;
  width: 358px;
  height: 199px;
}
.img_box{

}
.slider .prev{
  position: absolute;
  top: 88px;
  left: 15px;
}
.slider .next{
  position: absolute;
  top: 88px;
  right: 31px;
}
#footer{
  height: 173px;
  width: 100%;
  background-image: url(../img/bg_footer.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF;
  float: left;
}
.circle_footer{
  position: absolute;
  left: -65px;
  top: -80px;
  z-index: 1;
}
#footer .ft_left{
  padding-left: 145px;
  padding-top: 12px;
  font-size: 14px;
  width: 300px;
  font-family: 'Dosis', sans-serif;
  color: #04791e;
  float: left;
  position: relative;
  z-index: 5;
}
#footer .ft_right{
  float: right;
  height: 160px;
  width: 500px;
}
.ft_right_top{
  width: 360px;
  float: right;
  border-bottom: 1px solid #f0f0f0;
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  color: #02811f;
  padding-left: 45px;
  padding-top: 16px;
  padding-bottom: 10px;
  margin-right: 20px;
  position: relative;
}
.phone_icon{
  position: absolute;
  top: 10px;
  left: 0px;
}
.icon{
  float: right;
  padding-right: 10px;
}
.copryright{
  color: #a4a4a4;
  font-size: 10px;
  text-align: right;
  display: block;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  padding-right: 30px;
  line-height: 30px;
  clear: both;
}
.question{
  position: absolute;
  right: 20px;
}
.resetPass{ margin: 0 auto; position: relative;}
.resetPass label{font-size: 12px; color: #FFF}
#yw0{
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.upload_content{
    margin-top: 20px;
    float: left;
}
.multimedia{
    float: left;
    border: 5px solid white;
    height: 150px;
    width: 250px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;
}
.multimedia img{min-height:150px; min-width:250px}
.ui-dialog-titlebar { display:none; }
input[type=text], input[type=password]{
  background: #FFF;
  border: 1px solid #b8b8b8;
  color: #847e7e;
  width: 130px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  padding: 6px 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
.contactForm input[type=text], .contactForm textarea{
  background: #FFF;
  border: 1px solid #b8b8b8;
  color: #847e7e;
  width: 190px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  padding: 6px 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
.captchaRefresh {
  width: 25px !important;
  padding-top: 21px !important;
  border: 0px !important;
  background: transparent url("../img/refresh.png") no-repeat 50% 50% !important;
  cursor: pointer;
}
.left .text strong a {color: #FFF}
.left .text strong a:hover {color: #0DF240}
.link{
    margin-left: 15px;
    margin-bottom: 2px;
    width: 520px;
    padding: 3px 0 3px 20px;
    float: left;
    background: #9b589b;
    border-left: 10px solid #04791E;
    background-color: #9a589a;
    background-image: url("../img/save.png") !important;
    background-position: 97% 50% !important;
    background-repeat: no-repeat !important;
}
.link a{ color: #FFF; font-weight: 600; display:block }
.link a:hover{ color: #23CE4A;}
.errorMessage {

    background: none repeat scroll 0 0 red;
    border-radius: 5px 5px 5px 5px;
    color: white;
    float: right;
    font-size: 11px;
    margin-bottom: 5px;
    padding: 0 7px;
    font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
    font-size: 11px;
    line-height: 21px;
}
.contactForm{
    width: 360px;
    float: left;
    margin-left: 15px;
}
.contactLeft{
    float:left;
    width: 125px;
    color: #e6eef3;
    font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
    font-size: 12px;
    padding-top: 5px;
}
.contactRight{
    float:right;
    margin-bottom: 5px;
    padding-right: 10px;
}
.req{
    background: url("../img/req.png") center right no-repeat;
}
.contactError{
    clear: both;
    float: right;
    width: 100%;
}
.resetForm{
    float: left;
    margin-left: 100px;
}
.resetLeft{
    float:left;
    width: 145px;
    color: #e6eef3;
    font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
    font-size: 12px;
    padding-top: 4px;
}
.resetRight{
    float:left;
    margin-bottom: 5px;
}
.resetError{
    clear: both;
    float: right;
    width: 100%;
}
.resetError .errorMessage{
    float:left;
    margin-left: 120px;
}
.loginError{
    color: #801010;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 43px;
    right: 10px;
    font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
    font-size: 11px;
}
#faq {
  font-size: 12px;
}

#faq .title {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#faq .title a{
  color: #FFF;
  font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

#faq .title a:hover{
  color: #0DF240;
}

#faq .title a.active{
  color: #0099B2;
}

#faq .question{
  position: inherit;
}
#faq .short_content{
    padding-left:20px;
    width: 555px;
}
#faq .content {
    padding-left:20px;
    width: 555px;
}

#preview{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
  z-index: 99999;
}
.article_title a{
    color: #0DF240;
    font-family: "Tahoma","Geneva","DejaVu Sans Condensed",sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.article_title a:hover, .article_title a:active, .show_more a:hover, .goBack a{
    color: #0099B2;
}
.article_content{
    padding-left: 20px;
    text-align:justify;
}
.show_more, .goBack{text-align: right}
.show_more a, .goBack a{
    color: #0DF240;
    font-family: "Tahoma","Geneva","DejaVu Sans Condensed",sans-serif;
    font-size: 12px;
}
.list-view {
    margin-top: 25px;
}

.menu-left ul{ list-style: none; float: left;}
.menu-left ul li a{color: #FFF;}
.menu-left ul li a:hover, .menu-left ul li.active a {color: #23ce4a;}
.menu-left ul li{ background: url(../img/nav_subpage.png); background-repeat: no-repeat; padding-left: 25px; padding-bottom: 3px;}

.unseenEvents {
  background: none repeat scroll 0 0 #965696;
  color: white;
  text-align: center;
  margin: 15px 0 15px 0;
}
.unseenEvents a { color: #23CE4A; font-weight: bold}
.unseenEvents a:hover { color: white}
.legend img {vertical-align: middle;}
#eventView {

}

#eventView .date {

}

#eventView .type {

}

#eventView .comment {

}

#eventView .files {

}

#eventView .files ul {

}

#eventView .files ul li {

}

#eventView .files ul li a{

}

#eventView .files ul li a:hover{

}
.resrv{
    font-size: 12px;
}
.resrv .row{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.resrv .row input[type="text"], .resrv .row select, .resrv .row textarea{
    padding: 4px 5px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100px;
    margin-left: 0px;
    background: white;
    border: 1px solid #B8B8B8;
    color: #847E7E;
}
.resrv .row select{
    width: auto;
}
.resrv .row select option{
    margin-right: 10px;
}
.resrv .row textarea{
    margin-top: 10px;
}
.resrv .row label{
    width: 125px !important;
    float: left;
}
.resrv .errorSummary {
    margin-bottom: 20px;
    background-color: #FFE5E5;
    padding: 10px;
}
.resrv .errorSummary li{
    padding-left: 15px;
    list-style: none;
}
.legenda{
    margin-top: 10px;
}
.resrv_blue{
    width: 15px;
    height: 15px;
    background-color: #9fbbe0;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
}
.resrv_gray{
    width: 15px;
    height: 15px;
    background-color: #CCC;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
}

.packeges {
  width: 950px;
  margin-bottom: 20px; 
}

.packeges th, .packeges td {
  border: 1px solid #9c589b;
  padding: 5px;
}

.text a span strong{color: white}
.text a span strong:hover{color: #23CE4A}

div > .center{
  width: 400px;
  min-height: 250px;
  float: left;
  padding-right: 15px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  background: url(../img/line.png);
  background-position: right;
  background-repeat: repeat-y;
  color: #e6eef3;
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
}

.right2{
  padding-left: 15px;
  padding-top: 51px;
  float: left;
  
}
.form_right input[type=text], .form_right textarea{
  background: #FFF;
  border: 1px solid #b8b8b8;
  color: #847e7e;
  width: 225px;
  font-size: 11px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  padding: 6px 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 0px;
}