.grid-view-loading
{
  background:url(loading.gif) no-repeat;
}

.grid-view
{
  /*	padding: 15px 0;*/
}

/*.grid-view table.items
{
  background: white;
  border-collapse: collapse;
  width: 100%;
  border: 1px #D0E3EF solid;
}*/

.grid-view table.items{
  width: 100%;
  border: 0px;
  border-spacing: 0px;
  margin-bottom: 10px;
}

.grid-view table.items th
{
  font-size: 14px;
}

.grid-view table.items th
{
  color: #e9e9e9;
  /*	background: url("bg.gif") repeat-x scroll left top white;*/
  background: #965696;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  text-align: center;
  font-weight: 100;
  text-size: 13px;
}

/*.grid-view table.items th
{
  height: 30px;
  background: #fff6e5;
  color: #454545;
  font-size:12px;
  font-family:Tahoma;
  width: 100%;
}*/

.grid-view table.items th a
{
  color: #fff;
  font-weight: 100;
  text-size: 13px;
  text-decoration: none;
  background: url(sort.png) right center no-repeat;
  padding-right: 13px;
}

.grid-view table.items th a:hover
{
  color: #EEE;
}

.grid-view table.items th a.asc
{
  background:url(up.png) right center no-repeat;
  padding-right: 10px;
}
.grid-view table.items .filters{
    display:none;
}
.grid-view table.items th a.desc
{
  background:url(down.png) right center no-repeat;
  padding-right: 10px;
}
/*
.grid-view table.items tr.even
{
  background: #F8F8F8;
}

.grid-view table.items tr.odd
{
  background: #E5F1F4;
}

.grid-view table.items tr.selected
{
  background: #BCE774;
}

.grid-view table.items tr:hover
{
  background: #ECFBD4;
}*/

.grid-view .link-column img
{
  border: 0;
}

.grid-view .button-column
{
  text-align: center;
  width: 60px;
}

.grid-view .button-column img
{
  border: 0;
}

.grid-view .checkbox-column
{
  width: 15px;
}

.grid-view .summary
{
  margin: 25px 0 14px 0;
  text-align: right;
  font-size: 12px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  color: #e2e2e2;
}
.grid-view .summary select
{
	border: 0px;
	outline: 1px solid #e2e2e2;
	font-size: 12px;
	color: #838383;
}

.grid-view .pager
{
	color: #838383;
	font-family: "Tahoma", "Geneva", "DejaVu Sans Condensed", sans-serif;
	font-size: 12px;
    margin: 10px 0 0 0;
    text-align: right;
}

.grid-view .empty
{
  font-style: italic;
}

.grid-view .filters {
  text-align: center;
}

.grid-view .filters input,
.grid-view .filters select
{
  width: 60%;
  border: 1px solid #ccc;
}

.grid-view table.items tr{
  height: 30px;
  background: #731472;
  color: #fff;
  font-size:12px;
  font-family: Tahoma,Geneva,'DejaVu Sans Condensed',sans-serif;
  width: 100%;
}

.grid-view table.items td{
  padding: 5px;
  border-bottom: 1px dotted gray;
}

.grid-view table.items td.clickable{
  border: 1px solid lightblue;
}

.grid-view table.items td.right{
  text-align: right;
}
.grid-view table.items td.center{
  text-align: center;
}

.grid-view table.items a{ color: #fff; }
.grid-view table.items a:hover{ color: #ccc; }

.grid-view table.items tr:hover{ background: #965695; }

/*.grid-view table.items tr.filters{ background: white !important;}*/

.details {
  width: 25px !important;
  padding: 2px !important;
}
.legend h2{margin-bottom: 10px;}
